

.form-container{
   position: absolute;
   top: 15vh;
   width: 400px;
   height: 425px;
   background: #ffff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 0px 3px 0px #000;
}

.button {
    background: lightgray;
    color: black;
    
}

.myButton {
    /*background: darkgoldenrod;*/
    color: rgb(87, 120, 211);
}

image: url(https://via.placeholder.com/105/31);

<img src="https://via.placeholder.com/105/31" alt="placeholder.com">;


/*.button {
    margin-left: 121px;
    margin-top: 10px;
    width: 84px;
    height: 45px;   
    background: ,lightgray;
    border: none;
    color: white;   
    font-size:14px;
    font-weight:700;
     

}